.about {
    padding-bottom: 20vh;
}

.contact {
    padding-bottom: 20vh;
}

.admin-navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.user-navbar a {
    height: 10%;
    width: 20%;
    border-radius: 8px;
    border: 1px solid var(--button-border-color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: border-color 0.25s;
    color: var(--color-text);
}