.form-input {
    width: 90%;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid var(--button-border-color);
    border-radius: 8px;
    background-color: var(--placeholder-color);
    color: var(--color-text);
    transition: border-color 0.25s;
}

.form-input:focus {
    border-color: var(--link-color);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-text-less-saturated);
}

.form-inputs {
    width: 100%;
    margin-right: 5%;
}


.form-text-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-footer {
    margin-top: 1rem;
}

.form-footer button {
    margin: 1rem;
}

