.user-info, .user {
    position: relative;
}

.quiz-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-text);
}

.question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.75rem 1rem;
    background-color: var(--button-background-color);
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.question:hover {
    transform: scale(1.02);
}

/* Question text */
.question {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-text);
}

/*.questions h3 {*/
/*    margin: 0;*/
/*    color: var(--color-text);*/
/*    font-weight: 500;*/
/*    font-size: 1rem;*/
/*}*/

.form-input {
    width: 90%;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid var(--button-border-color);
    border-radius: 8px;
    background-color: var(--placeholder-color);
    color: var(--color-text);
    transition: border-color 0.25s;
}

.form-input:focus {
    border-color: var(--link-color);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-text-less-saturated);
}

.form-inputs {
    width: 100%;
    margin-right: 5%;
}


.form-text-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-footer {
    margin-top: 1rem;
}

.form-footer button {
    margin: 1rem;
}

