.userinfo-container {
    width: 100%;
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--button-background-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.user-info {
    position: relative; /* ensures the menu positions relative to this container */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
}

.user {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.userInfo {
    text-align: center;
    margin-top: 2rem;
}

.fullname {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text);
}

.-username {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text-less-saturated);
}