.menu-buttons {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: auto; /* pushes this item to the right */
    gap: 0.5rem; /* adds small spacing between buttons */
}

.menu-buttons button {
    border: none;
}
