/* NavBar.css */

.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-size: large;
}

.navbar li {
    display: flex;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    color: var(--link-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: var(--button-background-color);
    color: var(--link-hover-color);
}
