.question-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1rem;
}

.question-form-header {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.question-form button{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}