#root {
  width: 100%;
  /*margin: 0 auto;*/
  /*padding-bottom: 40vh;*/
  text-align: center;
  height: 100%;
  align-self: center;
}

.App-container {
  padding-bottom: 40vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: var(--color-text-less-saturated);
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-button,
.remove-button {
  background-color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0db60d;
}

.remove-button:hover {
  background-color: #cc8989;
}

.entities {
  margin: 0 auto;
  margin-top: 10%;
  padding: 2rem;
  max-width: 1000px;
  background-color: var(--button-background-color);
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.entities h1 {
  text-align: center;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.entities button {
  text-align: center;
  margin: 1rem;
}

