:root {
  /* Default (Light) Theme */
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --color-scheme: light dark;
  --color-text: rgba(5, 5, 5, 0.87);
  --color-text-less-saturated: rgb(68, 68, 68);
  --background-color: #d5d5d5;
  --button-background-color: #f5f5f5;
  --button-border-color: transparent;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --secondary-background: #bc8bff;
  --placeholder-color: #f5f5f5;

  /* Add more variables for the light theme */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-color: var(--background-color);
  color: var(--color-text);
  color-scheme: var(--color-scheme);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--button-border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-text)
}

button:hover {
  border-color: var(--link-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Dark Theme Variables */
body.DARK {
  --background-color: #232323;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-text-less-saturated: rgb(136, 136, 136);
  --button-background-color: #333333;
  --button-border-color: #646cff;
  --link-color: #9e7eff;
  --link-hover-color: #bc8bff;
  --secondary-background: #646cff;
  --placeholder-color: #333333;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

th.sortable {
  cursor: pointer;
  user-select: none;
}

th.sortable:hover {
  background-color: var(--secondary-background);
}

